
.containar{
    
    max-width: 1077px;
    margin: 0px auto;
}
.containar .menu{
    display: flex;
    justify-content: space-between;
}
.menu ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
}
.menu ul a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    
}
.btn{
    border: none;
    border-radius: 7px;
    background-color: #B68C5A;
    padding: 0px 14px;
    color: aliceblue;
    font-size: 18px;
}
.bannar{
    position: relative;
    max-width: 1077px;
    margin: 0px auto;
}
.bannar img{
    width: 100%;
    margin-top: 70px;
}
.bannar-text{
    position: relative;
    margin-top: -30%;
    width: 550px;
    margin-left: 30%;
    color: aliceblue;
}
.text{
    position: absolute;
    width: 600px;
    margin-top: -30%;
    text-align: center;
    margin-left: 25%;
    color: #ffffff;
}
.bodypart{
    width: 600px;
    max-width: 1077px;
    margin: 0px auto;
    text-align: center;
    margin-top: 120px;
}
.maine-card{
    max-width: 1077px;
    margin: 0px auto;
    margin-top: 64px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 35px;
}
.card{
    width: 300px;
    background-color: rgb(239, 239, 239);
    text-align: center;
    padding: 20px 14px;
    border-radius: 7px;
    box-shadow: 1px 3px 10px rgb(5, 5, 5);
    margin-left: 15px;
    
}
.texxt{
    width: 600px;
    text-align: center;
    margin-left: 23%;
    margin-top: 120px;
    margin-bottom: 64px;
}
.hero{
    max-width: 1077px;
    margin: 0px auto;
    
}
.hero img{
    width: 100%;
}

.img-pos{
    width: 700px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    margin-top: -20%;
    color: #ffffff;
    margin-left: 20%;
}
@media (max-width:500px) {
    .menu ul{
        flex-direction: column;
        gap: 20px;
    }
    .img-pos{
        width: 300px;
        margin-top: -45%;
        margin-left: 5%;
        font-size: 12px;
        font: weight 500px;;
    }
    .texxt{
        margin-top: 10px;
        margin-bottom: 1px;
        width: 300px;
        font-size: 15px;
        margin-left: 15px;
    }
    .maine-card{
        grid-template-columns: repeat(1, 1fr);
        margin-left: -10px;
    }
    .bodypart{
        width: 300px;
        margin-top: -10px;
    }
    .containar .menu{
        flex-direction: column;
    }
    .menu img{
        width: 150px;
        height: 200;
        
    }
    .text{
        width: 300px;
        flex-direction: column;
        margin-top: -50%;
        font-size: 12px;
        margin-left: 10%;
        
    }
    .bannar img{
        margin-top: 3%;
    }
    
   
}